@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: OswaldLight;
  font-display: swap;
  src: url("../fonts/Oswald-Light.woff") format("woff");
  font-weight: 300;
  font-style: light;
}
@font-face {
  font-family: OswaldRegular;
  font-display: swap;
  src: url("../fonts/Oswald-Regular.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
